<!DOCTYPE html>
<html lang="en" ng-app="jhpxMod">
<head>
    <meta charset="UTF-8">
    <title>scope</title>
</head>
<body ng-controller="jhCtrl">
{{j}}<br>
{{t}}
<!--
    namex="j" 是一个属性值
-->
<person namex="j" greet="greet(name,word)"></person>
<person namex="t"></person>


<script src="../angular.js"></script>
<script>
    angular.module("jhpxMod", [])
            .controller('jhCtrl',function($scope){
                $scope.j = "jht";
                $scope.t = "jht1";
                $scope.greet = function(name,word){
                    alert(name + " " + word);
                }
            })
            .directive("person", function () {
                return{
                    replace:true,
                    scope:{
                        namey:"=namex",//作为一个属性
                        greet:"&greet"
                    },//true->创建独立的scope  false:->继承父scope
                    restrict:'E',
                    template:'<div>姓名：{{namey}}' +
                    '<input ng-model="word"><div ng-click="greet({name:namey,word:word})">click</div>' +
                    '</div>'
                }
            })
</script>
</body>
</html>