<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.css' />
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">jht-blog</a></li>
    <li role="presentation"><a href="/users/login">登录</a></li>
    <li role="presentation"><a href="/users/reg">注册</a></li>
    <li role="presentation"><a href="/articles/add">发布文章</a></li>
    <li role="presentation"><a href="/users/logout">退出</a></li>
</ul>